:root {
  // Text colors
  --white-text-color: #ffffff;

  //Background Colors
  --cornflower-blue-color: #165ac9;
  --royal-blue-color: #2c73e8;
  --mine-shaft-color: #3D3D3D;
  --tundora-color: #4B4B4B;  
}