.nav__button {
 font-size: 14px;
 border: none;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 border-radius: 20px;
 padding: 6px 14px;  
 background-color: var(--cornflower-blue-color, #165ac9);
 color: var(--white-text-color, #ffffff);
 transition-duration: 1s;
 margin: 0 5px;
}

.nav__button:hover {
  cursor: pointer;
  background-color: var(--royal-blue-color, #2c73e8);   
}