.nav__input {
  font-size: 14px;
  border-radius: 20px;
  border: 0;
  padding: 6px 0;
  text-indent: 15px;
  margin: 0 10px;
  width: 60%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}