.aside {
  grid-area: aside;
  background-color: var(--mine-shaft-color, #3D3D3D);  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside hr {
  width: 90%;  
}